@charset "gb2312";
body,html,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,th,td,form,object,iframe,blockquote,pre,a,abbr,address,code,img,fieldset,form,label{margin:0;padding:0;}
body,html,input,button,textarea{color:#333;font:12px/1.5 Arial,"宋体",Verdana,Helvetica, sans-serif;}
body,html {_background-image:url(about:blank);_background-attachment:fixed;}
h1{font-size:18px;}
h2,h3,h4,h5{font-size:14px;}
img{border:none;}
li{list-style:none;}
i,em{font-style:normal;}
a{color:#333;text-decoration:none;}
a:hover{color:#f00;text-decoration:underline;}
a:focus{outline:none;}
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;padding:0;}
input:focus,textarea:focus{outline:none;}

/* 清除浮动 */
.clearfix:after,.layout:after,.menu:after,.list-1 ul:after,.list-2 ul:after,.imglist:after{content:"";height:0;display:block;clear:both;visibility:hidden;}
* html .clearfix,* html .layout,* html .menu,* html .list-1 ul,* html .list-1 ul,* html .imglist{display:inline-block;}
* +html .clearfix,* +html .layout,* +html .menu,* +html .list-1 ul,* +html .list-1 ul,.* +html .imglist {display:inline-block;}

.layout,.wraper{width:96%; margin:0 auto;}
.logo-side,.list-1 h3,.menu,.list-2 li,.list-1 li h1,.list-1 li h4,.listion h3,.tit{ font-family:"微软雅黑","Microsoft YaHei";}
.header{ height:52px; overflow:hidden; background:#fefefe; border-bottom:1px solid #ddd; box-shadow:0 1px 0 2px #eee; position:relative; z-index:222; padding:0 0 5px;}
.logo,.logo a{ display:block; width:185px; height:52px; background:url(../img/logo.png) 0 0 no-repeat; float:left; margin:0 10px 0 0;}
.logo-side,h1.logo-side { display:inline; float:left; padding:14px 0 0; color:#000; font-size:20px; font-weight:normal; }
.wraper{ background:url(../img/side_shadow.png) 180px 0 repeat-y; padding:35px 0;}
.aside{ width:170px; position:fixed; left:2%; top:92px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+92)); }
.menu li{ padding:0 5px 5px 0; float:left; white-space:nowrap; }
.menu li a{ float:left; padding:0 12px; line-height:25px; text-align:center; background:#479edb; border-radius:25px; color:#fff; font-size:14px;}
.menu li.m1 a{background:#6DAC7A;}
.menu li.m2 a{background:#F9A066;}
.menu li.m3 a{background:#4DC2D7;}
.menu li.m4 a,.menu li a{background:#479edb;}
.menu li.m5 a{background:#6DAC7A;}


.menu li a:hover{text-decoration:none; background:#1b81c9; color:#fff; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1;}
.tips{padding:0 35px 0 5px; color:#aaa;}
.tips dt{ display:block; font-weight:bold; }
.main{ padding:0 15px 0 220px;min-height:700px;}
.list-1 {width:100%; position:relative; overflow:hidden; }
.list-1 h3,.list-2 h3,.listion h3,.food h3,.panel .tit { background:#479edb; padding:3px 15px; border-radius:16px; color:#fff; font-size:15px; display:inline-block; text-shadow:1px 1px #1b81c9; margin-bottom:5px;}
.list-1 h3,.list-2 h3,.listion h3,.food h3,.panel .tit { *display:inline;}
.list-1 h3 span,.list-2 h3 span,.food h3 span,.panel .tit span{ border-bottom:3px solid #009e64; margin-bottom:-2px; position:relative; padding:0 55px 3px 5px; float:left;}
.list-1 ul{ width:105%;padding:0 0 30px;}
.list-1 li { width:168px; margin:0 20px 0 0; padding:7px 1px; float:left; border-bottom:1px dotted #ddd; margin-bottom:-1px; position:relative;}
.list-1 li h1,.list-1 li h4,.list-1 li p{padding:0 5px;}
.list-1 li:hover{background:#f8f8f8; border:1px solid #eee; width:168px; padding:6px 0 7px; }
.list-1 li h1,.list-1 li h4{ font-size:15px; font-weight:normal; }
.list-1 li h1,.list-1 li h1 a,.list-1 li h4,.list-1 li h4 a{ display:block;color:#08568f;}
.list-1 li h1 a:hover,.list-1 li h4 a:hover{color:#F81A78;}
.list-1 li p{ height:18px; line-height:18px; overflow:hidden; color:#ccc;}
.list-1-hot h4,.list-1-hot h4 a{font-size:16px; }
.list-1-hot li p{color:#aaa;}
.list-1-cur h3,.list-1-cur h3.tit{ background:#f81a78; text-shadow:none;}
.list-2 { width:100%; position:relative; overflow:hidden;padding:0 0 25px;}
.list-2 ul{width:105%;}
.list-2 li { width:130px; border-bottom:1px solid #eee; float:left; font-size:14px; margin:0 30px 0 0; padding:6px 0;}
.list-2 li a{ display:block; height:25px; line-height:25px; overflow:hidden; padding:0 10px;border-radius:13px;}
.list-2 li a:hover{background:#51B992; color:#fff; text-decoration:none; }

.topsearch{ display:inline; float:left; padding:13px 30px 0 30px; }
.topsearch .searchipt { width:230px; height:20px; padding:4px 15px;font-size:12px; float:left; border:1px solid #dcdcdc; margin-right:-1px; border-radius:16px 0 0 16px; color:#eee; }
.topsearch .searchbtn{ width:42px; height:30px; float:left; border:0; padding:0; cursor:pointer; border-radius:0 16px 16px 0;  background:url(../img/search.png) -2px -42px no-repeat; border:1px solid #dcdcdc; }
.topsearch .searchbtn2{ width:42px; height:30px; float:left; border:0; padding:0; cursor:pointer; border-radius:0 16px 16px 0;  background:hsla(0, 0%, 93%, 0); border:1px solid #dcdcdc; }
.topsearch .ipt-focus{color:#999;}


.txtinfo{color:#efefef;}


.side-ad{padding:6px 0 20px 5px; margin-top:5px;}


/* 通用图片列表 */
.imglist{padding:10px 0 15px;}
.imglist li,.imglist li a{ float:left;}
.imglist li { width:146px; height:53px; position:relative; margin:0 25px 20px 0;overflow:hidden;}
.imglist li a,.imglist li img { width:138px; height:45px;}
.imglist li a{ border:1px solid #eee; padding:3px; }
.imglist li a span{ display:block; width:145px; height:20px; line-height:20px; text-align:center; position:absolute; left:0; bottom:-20px; background:#f90; color:#fff; }
.imglist li a:hover { border:1px solid #f90;}
.imglist li a:hover span{ opacity:0.9; bottom:0;}


/* 80_80 */
.img_list_2 ul{border:none;padding:26px 0 0 0px;}
.img_list_2 li{width:80px; height:140px;margin:0 28px 0 0;  float:left;}
.img_list_2 li .img{display:block; margin:0 auto 2px; text-align:center;}
.img_list_2 li .img img{width:100%;}
.img_list_2 li a.word{ display:block; height:29px; line-height:29px; text-align:center; position:relative;}
.img_list_2 li a.word:hover,.img_list_2 li:hover a.word{background:#92c52c; color:#fff;}
.img_list_2 li a.word em{display:none;}
.img_list_2 li a.word:hover em,.img_list_2 li:hover a.word em{display:block; font-weight:bold;}
.img_list_2 li a.word:hover span,.img_list_2 li:hover a.word span{display:none;}

.topr{ display:inline; position:absolute; left:730px; top:20px; z-index:9999;}
.newlink{ color:#f00; font-size:14px;  z-index:2222; text-decoration:underline; float:left; margin:0 55px 0 0; display:none;}
.top-share,.bdsharebuttonbox{ display:inline; float:left; position:relative; top:-3px;}

.btn-share{ display:block; position:fixed; bottom:10px; right:10px; text-align:center; background:#f60; _position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||10)-(parseInt(this.currentStyle.marginBottom,10)||0))); cursor:default;  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);opacity:0.8;}
.btn-share-hover,.hover{  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1;}
.btn-share,.btn-share a{ display:block;color:#fff; font-size:14px; font-family:"微软雅黑","Microsoft YaHei";}
.btn-share a{ display:block; padding:6px; width:50px;}
.btn-share a:hover{background:#f30; text-decoration:none;}
.copytxt{display:none;}

.side-tips{border:1px dashed #ddd; background:#fffef3; padding:8px 12px; margin-top:5px; }
.side-tips,.side-tips a{ color:#f30;}
.side-tips b{padding:0 5px; font-size:14px;}


/* box */
.txtlist-1 {overflow:hidden; position:relative;}
.txtlist-1 h3{ font-family:"微软雅黑";}
.txtlist-1 h3{ background:#479edb; padding:3px 15px; color:#fff; font-size:15px; display:inline-block; text-shadow:1px 1px #1b81c9; border-radius:8px 8px 0 0; }
.txtlist-1 h3{ *display:inline;}
.txtlist-1 ul{padding:0 0 20px; width:103%;}
.txtlist-1 li { float:left; width:165px; height:50px; border:1px solid #f5f5f5; padding:13px 12px 5px; margin:0 -1px -1px 0; float:left; cursor:default; margin-bottom:-1px; position:relative; overflow:hidden; }
.txtlist-1 li:hover{border:1px solid #eee; position:relative; z-index:22; background:#fafafa;}
.txtlist-1 li h1{ width:100%; height:18px; line-height:18px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:16px;font-family:"微软雅黑";}
.txtlist-1 li h1 a{display:block;color:#266DA1; font-weight:normal;}
.txtlist-1 li h1 a:hover{ color:#F81A78;}
.txtlist-1 li p,.txtlist-1 li p a,.txtlist-1 li p a:hover,.txtlist-1 li s,.txtlist-1 li s a,.txtlist-1 li s a:hover{color:#aaa; display:block; width:100%; text-decoration:none; overflow:hidden;}
.txtlist-1 li p a:hover{color:#aaa;}
.txtlist-1 li p{ height:20px;line-height:20px; overflow:hidden; color:#ccc; font-size:12px; width:90%; padding:5px 0 0;}
.txtlist-1 li s{ width:100%; height:16px; line-height:16px; font-size:12px; overflow:hidden;text-overflow:ellipsis; white-space:nowrap; color:#eee; text-decoration:none; font-style:normal; font-size:11px; text-indent:-2.5em; display:none;}
.txtlist-1 li:hover p{color:#999;}
.txtlist-1-cur h3{  font-weight:bold; background:#F81A78;}
.txtlist-1-line-1 li p{height:16px; font-size:12px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.txtlist-1-wide li{width:265px; height:72px; padding:12px;}
.txtlist-1-wide li p{height:40px; line-height:20px;}
.txtlist-1-wide li s{display:block; width:60%; overflow:hidden; color:#a7d7a7; position:absolute; left:12px; bottom:8px; font-size:11px; display:none;}



.list-1-cur h3,.list-1-cur h3.tit{ background:#f81a78; text-shadow:none;}/* last */



@media screen and (max-width:500px){
.wraper{background:none;}
.aside{position:relative; width:auto; margin:10px; left:auto; top:auto; padding-top:0;}
.side-tips{display:none;}
.aside .goback{display:none;}
.main{padding:0; margin:0 10px;}
.list-1 ul{width:100%;}
.list-1 li,.list-1 li:hover{width:45%; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; margin:0;}
.list-1 li:hover {margin:0;}
#bdshare{display:none;}
.topr,.side-ad,.btn-share{display:none;}
}
